body {
  background:black;
  color: white;
  font-size: 2vmin;
  font-family: "Pixelify Sans";
  user-select: none;
}

#game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#gameBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gameText {
  text-align: left;
  width: 61vmin;
  text-shadow: 0 0 1.5px white, 0 0 1.5px white, inset 0 0 3px white;
}

.boxRow{
  justify-content: center;
  display: flex;
}

.box {
  width: 10vmin;
  height: 10vmin;
  border: 0.4vmin solid white;
  box-shadow: 0 0 1.5vmin white, 0 0 1.5vmin white, inset 0 0 3vmin white;
  transition: 0.4s;
  position: relative;
}
.box:hover {
  z-index: 2;
  box-shadow: 0 0 10px red, 0 0 10px red, inset 0 0 20px red;
}

.legal {
  box-shadow: 0 0 10px green, 0 0 10px green, inset 0 0 20px green;
}

#top {
  height: 10vmin;
}

.knight {
  z-index:20;
  width: 6vmin;
  height: 6vmin;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


h1 {
  font-size: 7vmin;
  color: aqua;
}

.intro {
  padding-left: 16vmin;
  padding-right: 16vmin;
}



.redtext {
  color:red;
}
.orangetext {
  color:orange;
}
.greentext {
  color:lightgreen;
}
.purpletext {
  color:purple;
}
.bluetext {
  color: lightblue;
}

.redSquare {
  z-index: 30;
  background-color: red;
}


@media(max-width: 1024px){
  #game {
    flex-direction: column;
    justify-content: center;
  }

  body {
    font-size: 4vmin;
  }

  .box {
    width: 15vmin;
    height: 15vmin;
  }

  .dot {
    margin: 7vmin;
  }

  .knight {
    width: 9vmin;
    height: 9vmin;
  }

  #gameText {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .intro {
    padding: 5vmin 5vmin 5vmin 5vmin;
  }
}